[submodule "project/ar_track_alvar"]
	path = project/ar_track_alvar
	url = https://github.com/sniekum/ar_track_alvar.git
[submodule "project/src/ar_track_alvar"]
	path = project/src/ar_track_alvar
	url = https://github.com/sniekum/ar_track_alvar.git
[submodule "project/src/ar_track_alvar_msgs"]
	path = project/src/ar_track_alvar_msgs
	url = https://github.com/sniekum/ar_track_alvar_msgs.git
[submodule "project/src/usb_cam"]
	path = project/src/usb_cam
	url = https://github.com/bosch-ros-pkg/usb_cam.git
[submodule "project/src/image_pipeline"]
	path = project/src/image_pipeline
	url = https://github.com/ros-perception/image_pipeline.git
[submodule "project/src/image_common"]
	path = project/src/image_common
	url = https://github.com/ros-perception/image_common.git
[submodule "project/src/kalibr"]
	path = project/src/kalibr
	url = https://github.com/ethz-asl/kalibr.git
[submodule "project/src/vision_opencv"]
	path = project/src/vision_opencv
	url = https://github.com/ros-perception/vision_opencv.git
